:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}

/* Start box  */
.w-full {
    width: 100%;
}
.w-fit {
    width: fit-content;
}
.d-flex {
    display: flex;
}
.flex-1 {
    flex: 1;
}
.flex-column {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}
.space-between {
    justify-content: space-between;
}
.space-around {
    justify-content: space-around;
}
.space-evenly {
    justify-content: space-evenly;
}
.d-grid {
    display: grid;
}
.d-block {
    display: block;
}
.d-inline {
    display: inline;
}
.d-inline-block {
    display: inline-block;
}
.gap-10 {
    gap: 10px;
}
.gap-15 {
    gap: 15px;
}
.gap-20 {
    gap: 20px;
}
.gap-25 {
    gap: 25px;
}
.gap-30 {
    gap: 30px;
}
@media (max-width: 767px) {
    .block-mobile {
        display: block;
    }
    .hide-mobile {
        display: none;
    }
}
.align-center {
    align-items: center;
}
/* End box  */
/* Start Padding + Margin  */
.p-5 {
    padding: 5px;
}
.p-10 {
    padding: 10px;
}
.p-15 {
    padding: 15px;
}
.p-20 {
    padding: 20px;
}
.pt-0 {
    padding: 0;
}
.pt-10 {
    padding-top: 10px;
}
.pt-15 {
    padding-top: 15px;
}
.pt-20 {
    padding-top: 20px;
}
.pr-0 {
    padding-right: 0;
}
.pr-5 {
    padding-right: 5px;
}
.pr-10 {
    padding-right: 10px;
}
.pr-15 {
    padding-right: 15px;
}
.pr-20 {
    padding-right: 20px;
}
.pb-0 {
    padding-bottom: 0;
}
.pb-10 {
    padding-bottom: 10px;
}
.pb-15 {
    padding-bottom: 15px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pb-25 {
    padding-bottom: 25px;
}
.pl-0 {
    padding-left: 0;
}
.pl-5 {
    padding-left: 5px;
}
.pl-10 {
    padding-left: 10px;
}
.pl-15 {
    padding-left: 15px;
}
.pl-20 {
    padding-left: 20px;
}
.pl-25 {
    padding-left: 25px;
}
.m-0 {
    margin: 0;
}
.m-5 {
    margin: 5px;
}
.m-10 {
    margin: 10px;
}
.m-15 {
    margin: 15px;
}
.m-20 {
    margin: 20px;
}
.mt-0 {
    margin-top: 0;
}
.mt-5 {
    margin-top: 5px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-25 {
    margin-top: 25px;
}
.mt-30 {
    margin-top: 30px;
}
.mr-0 {
    margin-right: 0;
}
.mr-5 {
    margin-right: 5px;
}
.mr-10 {
    margin-right: 10px;
}
.mr-15 {
    margin-right: 15px;
}
.mr-20 {
    margin-right: 20px;
}
.mr-25 {
    margin-right: 25px;
}
.mr-30 {
    margin-right: 30px;
}
.mr-35 {
    margin-right: 35px;
}
.mr-40 {
    margin-right: 40px;
}
.mr-45 {
    margin-right: 45px;
}
.mr-50 {
    margin-right: 50px;
}
.mr-55 {
    margin-right: 55px;
}
.mr-60 {
    margin-right: 60px;
}
.mb-0 {
    margin-bottom: 0;
}
.mb-5 {
    margin-bottom: 5px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-25 {
    margin-bottom: 25px;
}
.mb-30 {
    margin-bottom: 30px;
}
.ml-0 {
    margin-left: 0;
}
.ml-5 {
    margin-left: 5px;
}
.ml-10 {
    margin-left: 10px;
}
.ml-15 {
    margin-left: 15px;
}
.ml-20 {
    margin-left: 20px;
}
.ml-25 {
    margin-left: 25px;
}
/* End Padding + Margin  */
/* Start Color  */
.bg-white {
    background-color: white;
}
.bg-eee {
    background-color: #eee
}
.bg-blue {
    background-color: var(--blue-color);
}
.bg-orange {
    background-color: var(--orange-color);
}
.bg-green {
    background-color: var(--green-color);
}
.bg-red {
    background-color: var(--red-color);
}
.c-black {
    color: black;
}
.c-white {
    color: white;
}
.c-grey {
    color: var(--grey-color);
}
.c-blue {
    color: var(--blue-color);
}
.c-green {
    color: var(--green-color);
}
.c-orange {
    color: var(--orange-color);
}
.c-red {
    color: var(--red-color);
}
/* End Color  */
/* Start Position */
.p-relative {
    position: relative;
}
/* End Position */
/* Start Font  */
.txt-c {
    text-align: center;
}
.fw-b {
    font-weight: bold;
}
.fs-14 {
    font-size: 14px;
}
.fs-16 {
    font-size: 16px;
}
.fs-18 {
    font-size: 18px;
}
.fs-20 {
    font-size: 20px;
}
.fs-25 {
    font-size: 25px;
}
.fs-30 {
    font-size: 30px;
}
.fs-35 {
    font-size: 35px;
}
.fs-40 {
    font-size: 40px;
}
.line-h {
    line-height: 1.7;
}
@media (max-width: 767px) {
    .txt-c-mobile {
        text-align: center;
    }
}
/* End Font  */
/* Start Border */
.rad-6 {
    border-radius: 6px;
}
.rad-10 {
    border-radius: 10px;
}
.b-none {
    border: none;
}
.border-ccc {
    border: 1px solid #ccc;
}
.b-none {
    border: none;
}
.curser {
    cursor: pointer;
}
/* End Border */
/* Start Componants */
.between-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 767px) {
    .center-flex-mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .flex-col-mobile {
        flex-direction: column;
    }
}
.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-shape {
    padding: 4px 10px;
    border-radius: 6px;
}
/* End Componants */
